---
---
.posts
  {% for post in site.posts %}
  %article.post
    %h2{ id: "{{ post.date | date: '%Y-%m-%d' }}" } {{ post.title }}
    %div.content
      {{ post.content }}
      .post-nested
        {{ post.title }}
  {% endfor %}
