---
title: Blade Runner
year: 1982
---
%p
  Best movie ever:
  %blockquote Gaff: It's a shame that she won't live, but then again, who does?
%p A blend of science fiction and noir detective fiction.
%footer {{ page.year }}
