---
title: Blade Runner 2049
year: 2017
---
%p
  Best sequel ever.
  %img(src='data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=' width='0' height='0' alt='')
%p Thirty years after the events of the first film.
%footer {{ page.year }}
