!!!
%html
  %head
    %title
      = "Default (ruby interpreted) "
      layout (plain text)
      \ =  "escaped" + "text"
    %link{href: "{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}", rel: "stylesheet", type: 'text/css'}
    %link(href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet" type='text/css')
  %body
    %header
      {% include header.haml %}
    %main
      {{ content }}
      \
    %footer
      {% include footer.html %}
    %script{src: "{{ '/assets/javascript/script.css?v=' | append: site.github.build_revision | relative_url }}"}
  :javascript
  console.log('end of body');
  <!-- HTML comment render tag -->
