!!!
%html
  %head
    %title Fake title
    %link{href: "{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}", rel: "stylesheet", type: 'text/css'}
    %link(href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet" type='text/css')
  %body
    %header
      {% include header.haml %}
      {% for value in (1..5) %}
      %nav {{ value }}
      {% endfor %}
    %main
      {{ content }}
    %footer
      {% include footer.html %}
    %script{src: "{{ '/assets/javascript/script.css?v=' | append: site.github.build_revision | relative_url }}"}
